 html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url("assets/tile.jpg");
}


header {
    text-align: center;
}

#container {
    text-align: center;
    background-image: url(assets/formbg.jpg);
    width: 750px;
    margin: auto;
    padding: 10px;
}

.image-container {
    display: inline-block;
    margin: 10px;
}

.image-container img {
    max-width: 100%; 
    height: auto;
    display: block; 
}


#notesBox {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    flex-direction: row;
}

.glyphicon {
    left: 145px;
    color: black;
}


.note {
    text-align: left;
    font-weight: bold;
    padding: 15px;
    height: 240px;
    width: 180px;
    margin: 10px;
    background-image: url(assets/notebg.png);
    word-break: break-all;
}

.removeLogo {
    font-size: larger;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 21px;
    visibility: hidden;
}

.foot {
    color: aqua;
    padding-top: 120px;
    text-align: left;
}

.removeLogo:hover {
    transform: scale(1.3);
    font-weight: 800;
}

.note:hover {
    transform: scale(1.3);
} 

.note:last-of-type{
    animation: fade-in 3s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} 



  


